* {
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.page_left {
    width: 50%;
    height: 100vh;
    background-image: url(ps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: white;
    position: relative;
    transition: all 1s ease-in;

    .page_color_left {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 255, 0.5);;
    }
}

.page_right {
    width: 50%;
    height: 100vh;
    background-image: url(xbox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: white;
    position: relative;
    transition: all 1s ease-in;

    .page_color_right {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.6);;
    }
}

h1 , .btn{
    z-index: 1;
    margin: 5px;
    text-wrap: nowrap;
    
}

.btn {
    color: white;
    border: 3px white solid;
    width: 240px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: bolder;
    
}

.btn-right:hover {
    background-color: darkgreen;
    border: 0;
}

.btn-left:hover {
    background-color: rgb(76, 49, 227);
    border: 0;
}

.effect-big {
    width:80%;
    z-index: 100;
    
}

.effect-small {
    width: 20%;
}


